*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Trebuchet MS', sans-serif;
  background-image: url('/static/img/body-bg.png');
  background-repeat: repeat;
}

.owerlay {
  background-image: linear-gradient(to bottom, rgba(0,0,0, .5), transparent 50%, rgba(0,0,0, .5));
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.centered {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  z-index: 2;

  &__inner {
    display: table-cell;
    vertical-align: middle;
  }
}
