mixin card(data)
  .card.js-card(class=data.disable?'disable':data.active?'active':false)
    .card__border
      .card__inner.js-card__active
        .card__content.js-card__content
          .card__top= data.top
          .card__title= data.title
          .card__consist= data.consist
          .card__portions!= data.portions
        .card__img
          img(src=data.img, alt="")
        .card__weight
          = data.weight
          br
          span кг    
        
    .card__bottom
      if !data.disable
        = data.bottom
        a.card__buy.js-card__active(href="javascript:void(0);") <span>купи</span>.
      else 
        = data.bottomDisable
    .card__bottom.active
      = data.bottomActive
      
    
      
  
