$card-border-color: #1698d9;
$card-border-color-hover: #2ea8e6;
$card-border-color-active: #d91667;
$card-border-color-active-hover: #e62e7a;
$card-border-color-disable: #b3b3b3;

$card-border-width: 4px;
$card-border-radius: 10px;

$card-background-color: #f2f2f2;

$card-font-color: #666;
$card-font-color-disable: #d4d4d4;

$card-top-font-size: 16px;

$card-title-font-color: #000;
$card-title-font-size: 48px;
$card-title-font-size-small: 40px;
$card-title-font-weight: 700;

$card-consist-font-size: 24px;

$card-weight-font-color: #fff;
$card-weight-font-size: 42px;
$card-weight-font-size-small: 21px;

$card-bottom-font-size: 13px;
$card-bottom-font-color: #fff;
$card-bottom-font-color-disable: #ffff66;

$card-transition-time: .2s;

.card {
  display: inline-block;
  width: 320px;
  font-size: 14px;
  text-align: left;
  color: $card-font-color;
  line-height: 1.1;

  @include respond-to('480px') {
    width: 280px;
  }

  &__border {
    background: linear-gradient(135deg, transparent 30px, $card-border-color 30px, $card-border-color 100%);
    border-radius: $card-border-radius;
    padding: $card-border-width;
    position: relative;
    cursor: pointer;
  }

  &__inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent 28.5px, $card-background-color 28.5px, $card-background-color 100%);
    border-radius: -$card-border-width+$card-border-radius;
    position: relative;
    overflow: hidden;
    padding-top: 18px;
  }

  &__content {
    padding: 0 45px;
    padding-bottom: 20px;

    @include respond-to('480px') {
      padding: 10px 30px 20px;
    }
  }

  &__top {
    font-size: $card-top-font-size;
    margin-bottom: 8px;
  }

  &__title, &__consist {
    font-size: $card-title-font-size;
    color: $card-title-font-color;
    font-weight: $card-title-font-weight;
  }

  &__title {
    margin-left: -3px;
    margin-bottom: 1px;

    @include respond-to('480px') {
      font-size: $card-title-font-size-small;
    }
  }

  &__consist {
    font-size: $card-consist-font-size;
    margin-bottom: 17px;
  }

  &__img {

    img {
      height: 268px;
      display: block;

      @include respond-to('480px') {
        height: 200px;
      }
    }
  }

  &__weight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $card-border-color;
    font-size: $card-weight-font-size;
    color: $card-weight-font-color;
    position: absolute;
    bottom: 11px;
    right: 11px;
    text-align: center;
    line-height: 22px;
    padding-top: 20px;
    transition: background $card-transition-time;
    @include respond-to('480px') {
      font-size: 36px;
    }

    span {
      font-size: $card-weight-font-size-small;
    }
  }

  &__bottom {
    font-size: $card-bottom-font-size;
    color: $card-bottom-font-color;
    text-align: center;
    padding-top: 15px;

    &.active {
      display: none;
    }
  }

  &__buy {
    color: $card-border-color;
    text-decoration: none;
    letter-spacing: -.5px;

    span {
      border-bottom: 1px dashed $card-border-color;
    }
  }
}

// Hover

.card.hover {

  .card__border {
    background: linear-gradient(135deg, transparent 30px, $card-border-color-hover 30px, $card-border-color-hover 100%);
  }

  .card__weight {
    background: $card-border-color-hover;
  }

  .card__buy {
    color: $card-border-color-hover;
  }
}

// Active

.card.active {

  .card__border {
    background: linear-gradient(135deg, transparent 30px, $card-border-color-active 30px, $card-border-color-active 100%);
  }

  .card__weight {
    background: $card-border-color-active;
  }

  .card__bottom {
    display: none;

    &.active {
      display: block;
    }
  }

  &.hover {

    .card__border {
      background: linear-gradient(135deg, transparent 30px, $card-border-color-active-hover 30px, $card-border-color-active-hover 100%);
    }

    .card__weight {
      background: $card-border-color-active-hover;
    }
  }
}


// Disable

.card.disable {

  .card__border {
    background: linear-gradient(135deg, transparent 30px, $card-border-color-disable 30px, $card-border-color-disable 100%);
    cursor: default;
  }

  .card__inner {
  }

  .card__top,
  .card__title,
  .card__consist,
  .card__portions {
    color: $card-font-color-disable;
  }

  .card__img {
    opacity: .5;
  }

  .card__weight {
    background: $card-border-color-disable;
  }

  .card__bottom {
    color: $card-bottom-font-color-disable;
  }
}
